# Folders
.git
.github
.vscode
coverage
dist
docs
node_modules

# Files
.dockerignore
.editorconfig
.gitignore
.markdownlint-cli2.yaml
.markdownlint.yaml
.prettierignore
.prettierrc.yaml
.syncpackrc.yaml
*.md
*.test.ts
*.tsbuildinfo
*.txt
Dockerfile
eslint.config.js
tsconfig.eslint.json
typedoc.json
