# Folders
coverage
dist
docs
node_modules

# Files
.dockerignore
.gitignore
.prettierignore
.prettierrc.yaml
*.md
*.test.ts
*.tsbuildinfo
*.txt
Dockerfile
eslint.config.js
tsconfig.eslint.json
typedoc.json
